<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="makemytrip_pk.OneWayRoundTest2"/>
      <class name="makemytrip_pk.AnotherCityBtnTest"/>
      <class name="makemytrip_pk.SearchResultsTest"/>
      <class name="makemytrip_pk.AppTest"/>
      <class name="makemytrip_pk.TopToolBarTest"/>
      <class name="makemytrip_pk.searchToolBarTest"/>
      <class name="makemytrip_pk.HomePageSearchTest"/>
      <class name="makemytrip_pk.LastItemInTheToolBarTest"/>
      <class name="makemytrip_pk.MultiRoundTest"/>
      <class name="makemytrip_pk.DepartureLinksTest"/>
      <class name="makemytrip_pk.RoundTripTest"/>
      <class name="makemytrip_pk.OneWayPriceTest"/>
      <class name="makemytrip_pk.OneWayRoundTest"/>
      <class name="makemytrip_pk.HomePageTest"/>
      <class name="makemytrip_pk.LastItemInTheToolBar"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
